<div>
  <h2 id="page-heading" data-cy="ProdutoNoPedidoHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.produtoNoPedido.home.title">Produto No Pedidos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.produtoNoPedido.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-produto-no-pedido"
        [routerLink]="['/produto-no-pedido/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.produtoNoPedido.home.createLabel"> Create a new Produto No Pedido </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="produtoNoPedidos?.length === 0">
    <span jhiTranslate="jhipsterSampleApplicationApp.produtoNoPedido.home.notFound">No produtoNoPedidos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="produtoNoPedidos && produtoNoPedidos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.produtoNoPedido.quantidade">Quantidade</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.produtoNoPedido.preco">Preco</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.produtoNoPedido.criado">Criado</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.produtoNoPedido.produtoEmEstoque">Produto Em Estoque</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.produtoNoPedido.pedido">Pedido</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produtoNoPedido of produtoNoPedidos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/produto-no-pedido', produtoNoPedido.id, 'view']">{{ produtoNoPedido.id }}</a>
          </td>
          <td>{{ produtoNoPedido.quantidade }}</td>
          <td>{{ produtoNoPedido.preco }}</td>
          <td>{{ produtoNoPedido.criado | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="produtoNoPedido.produtoEmEstoque">
              <a [routerLink]="['/produto-em-estoque', produtoNoPedido.produtoEmEstoque?.id, 'view']">{{
                produtoNoPedido.produtoEmEstoque?.nome
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="produtoNoPedido.pedido">
              <a [routerLink]="['/pedido', produtoNoPedido.pedido?.id, 'view']">{{ produtoNoPedido.pedido?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/produto-no-pedido', produtoNoPedido.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/produto-no-pedido', produtoNoPedido.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(produtoNoPedido)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
